/* ADMIN stylesheet*/
/* Load after public.css*/


/***************** FORMS  *************************************************/

input, select, textarea, button {
    line-height: 1.4;
    margin: 2px;
    padding: 3px;
}

/***************** MAin CP menu *************************************************/

.menu {
    text-align: center
}

/************************* New Button for all new elements in crud +add ....*/

a.new_element {
    padding: 12px;
    border: 1px solid grey;
    text-decoration: none;
    font-weight: lighter;
    font-family: monospace;
    font-size: 16px;
}

/********************** span helper method for visible true/false *************/

span.status {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    margin: 0.25em 15px;
    padding: 0;
}
span.status.true {
    background: green;
    color: green;
}
span.status.false {
    background: red;
    color: red;
}

/************************* New Button for all new elements in crud +add ....*/

a.new_element {
    padding: 12px;
    border: 1px solid grey;
    text-decoration: none;
    font-weight: lighter;
    font-family: monospace;
    font-size: 16px;
}

/********************** span helper method for visible true/false *************/

span.status {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    margin: 0.25em 15px;
    padding: 0;
}
span.status.true {
    background: green;
    color: green;
}
span.status.false {
    background: red;
    color: red;
}

/***************** FORMS  *************************************************/

input, select, textarea, button {
    line-height: 1.4;
    margin: 2px;
    padding: 3px;
}

/***************** MAin CP menu *************************************************/

.menu {
    text-align: center
}

/************************* New Button for all new elements in crud +add ....*/

a.new_element {
    padding: 12px;
    border: 1px solid grey;
    text-decoration: none;
    font-weight: lighter;
    font-family: monospace;
    font-size: 16px;
}

/********************** span helper method for visible true/false *************/

span.status {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    margin: 0.25em 15px;
    padding: 0;
}
span.status.true {
    background: green;
    color: green;
}
span.status.false {
    background: red;
    color: red;
}

/************************* New Button for all new elements in crud +add ....*/

a.new_element {
    padding: 12px;
    border: 1px solid grey;
    text-decoration: none;
    font-weight: lighter;
    font-family: monospace;
    font-size: 16px;
}

/********************** span helper method for visible true/false *************/

span.status {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    margin: 0.25em 15px;
    padding: 0;
}
span.status.true {
    background: green;
    color: green;
}
span.status.false {
    background: red;
    color: red;
}

/*.center { text-align: center; }*/
