/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


/* Form label*/
label, .form-buttons{
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
}

.form-buttons  {
  text-align: center;
}
