body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 100px
}

/*********************** Twitter nav bar ***************************************/

.navbar.navbar-default.navbar-static-top {
    background-color: black;
}
.nav.navbar-nav> li> a {
    color: #2A82D2;
}
.navbar-default .navbar-brand {
    color: #FF7145;
}

/************************* CONTENT ********************************************/


/***** Style backlinks for all pages ***********/

.back-link {
    margin: 5px;
    font-style: italic;
    font-weight: bolder;
}

/***************** FORM INPUT *************************************************/

input, select, textarea, button {
    line-height: 1.4;
    margin: 2px;
    padding: 3px;
}

/************************* New Button for all new elements in crud +add ....*/

a.new_element {
    padding: 12px;
    border: 1px solid grey;
    text-decoration: none;
    font-weight: lighter;
    font-family: monospace;
    font-size: 16px;
}

/********************** small action buttons *********************************/
/*
.actions {
    width: 240px;
}
.actions a.action {
    float: left;
    min-width: 3.5em;
    padding: 1px 2px;
    margin: 2px 5px;
    font-size: 0.7em;
}*/

/********************** span helper method for visible true/false *************/

span.status { display: block; width: 10px; height: 10px;
  margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
span.status.true  { background: green; color: green; }
span.status.false { background: red; color: red; }
.center { text-align: center; }

/*********************** Sticky Footer  **************************************/

footer.navbar-default.navbar-fixed-bottom {
    background: black;
    color: white;
    padding: 1em 0;
    text-align: center;
}
footer.navbar-default.navbar-fixed-bottom p {
    margin: 0;
}
