<% @page_title = "Admin Login" %>



<div class="" id="login-modal" tabindex="-1" style="">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <%= form_tag( {:action => 'attempt_login'}, id: "form-login" ) do %>
            <%= text_field_tag(:username, nil, :placeholder => "Username") %>
            <%= password_field_tag(:password, nil, :placeholder => "Password") %>
            <%= submit_tag("Log In", :class => "login loginmodal-submit") %>
            <% end %>
     <!-- <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div> -->
        </div>
    </div>
</div>
