<% @page_title = "Add New User" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="admin user new">
    <h2>Create new user</h2>

    <%= form_for(:admin_user, :url => {:action => 'create'}) do |f| %>

    <!-- Call partial template _form.html.erb -->
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= submit_tag("Create user") %>
    </div>

    <% end %>
</div>
