<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="book edit">
    <h2>Edit a Book</h2>

    <%= form_for(:book, :html => { :multipart => true }, :url => {:action => 'update', :id => @book.slug}) do |f| %>

    <!-- Call partial template _form.html.erb -->
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= submit_tag("Update Book") %>
    </div>

    <% end %>
</div>
