
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

  <h2>Update Category</h2>

  <%= form_for( :category, :html => { :multipart => true, :class => 'form-cat' }, :url => {:action => 'update', :id => @category.slug}) do |f| %>

  <!-- Call partial template _form.html.erb -->
  <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Category") %>
    </div>

  <% end %>
