<% @page_title = "Show current Category" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="category show">
    <h2>Category details</h2>

    <table class="table table-striped table-responsive">
        <tr>
            <th>Category ID</th>
            <td><%= @category.id %></td>
        </tr>
        <tr>
            <th>Category Slug Name</th>
            <td><%= @category.slug %></td>
        </tr>
        <tr>
            <th>Visible</th>
            <td><%= status_tag(@category.visible) %></td>
        </tr>
    </table>
</div>
